server {

        listen 80;

        server_name {{ site }};

        location ~ /\.git/  {return 404;}

        location {{ locationHtmlApp }} {
                root {{ localLocationHtmlApp  }};
        }
        location {{ locationGoApi }} {
                rewrite ^/api/(.*)$ /$1 break;
                proxy_pass http://localhost:8080;
        }
        location {{ locationPhpFpmApp }} {
                include fastcgi_params;
                fastcgi_param SCRIPT_FILENAME {{ locallocationPhpFpmApp }}/diff.php;
                fastcgi_pass unix:/var/run/php/php{{ phpFpmVersion }}-fpm.sock;
        }
}
